/backend-admin/.dbdata
/backend-admin/node_modules
/backend-admin/public
/backend-admin/storage
/backend-admin/vendor
/backend-admin/tests
/backend-admin/.env
/backend-admin/.env.backup
/backend-admin/.phpunit.result.cache
/backend-admin/docker-compose.override.yml
/backend-admin/docker-compose.yml
/backend-admin/Homestead.json
/backend-admin/Homestead.yaml
/backend-admin/npm-debug.log
/backend-admin/yarn-error.log
/backend-admin/pass.txt
/backend-admin/.gitignore.bak
/backend-admin/docker-compose.newtry.yml

/node_modules

/frontend-admin/node_modules
/frontend-admin/.pnp
/frontend-admin/.pnp.js

/frontend-admin/coverage

/frontend-admin/build
/frontend-admin/public

/frontend-admin/.DS_Store
/frontend-admin/.env.local
/frontend-admin/.env.development.local
/frontend-admin/.env.test.local
/frontend-admin/.env.production.local

/frontend-admin/npm-debug.log*
/frontend-admin/yarn-debug.log*
/frontend-admin/yarn-error.log*
